extends layout
block content
  .container
      h2 
        p
         | Global Weather 
      br
      br
      .row
        .col-md-6
          form.form-inline(method="post", action="weather")
            .form-group
              label.sr-only(for="inputEmail") City Name
              input.form-control( name="city" type="text" placeholder="Enter a city name" required='required')
              
            |    
            button.btn.btn-primary(type="submit") Get Weather
          
        hr
        .row
        .col-md-12
          p
           br
           br
           strong Weather Today #{message}
          table.table
            thead
              tr
                th Longitude / Latitude
                
                th Pressure
                th Temprature (metric)
                th Humidty
                th Speed
            tbody
               if weather
                tr
                  td
                    #{weather.coord.lon} / #{body.coord.lat}
                  td 
                     #{weather.main.pressure} 
                  td
                     #{weather.main.temp}
                  td
                     #{weather.main.humidity}
                  td
                     #{weather.wind.speed}
               else
                tr
                    td(colspan="6")
                      | Enter a city name and click Get Weather button                  